<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>

  <h6>Your Application accepted successfully</h6>
 <a href="{% url 'person_changelist' %}" ><button class="btn btn-success">View customer list</button></a>

</div>

</div>

</body>
</html>